.item {
  border: 1px solid var(--border-color-2);
  border-radius: 0.5rem;
  margin-top: 5rem;
  padding: 1rem;
  position: relative;
}

.post img {
  height: auto;
  max-width: 100%;
}

.post a {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
}

.date {
  background-color: var(--bg-color-2);
  border-radius: 0.5rem;
  color: var(--text-color-2);
  display: block;
  padding: 1rem;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: -5rem;
  width: min-content;
}
