.w {
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
  grid-area: nav;
}

.w > nav {
  display: flex;
  gap: 4rem;
  padding: 2.5rem 2rem;
}

.w a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
}

.w a:hover {
  text-decoration: underline;
}
